/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color:  #212529 !important; 
  color: rgb(209, 205, 199) !important;
}

.pb-12 {
  padding-bottom: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.pl-6 {
  padding-left: 6px;
}

.mr-12 {
  margin-right: 12px;
}

.button-affirmative {
  background-color: darkgreen !important;
}

cdk-virtual-scroll-viewport {
  scrollbar-width: none; /* Hide scrollbar on Firefox */
  -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
  overflow: -webkit-hidden-scrollbar; /* Hide scrollbar on Chrome, Safari, 
  and newer versions of Edge */
}