:host {
  display: block;
}

.white-text {
  color: rgb(209, 205, 199) !important;
}

.grey-background {
  background-color:  #373d43 !important; 
}

.leaderboard-values {
  font-size: medium;
}

.country-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.centered {
  text-align: center;
}

tr.example-detail-row {
  height: 0;
}

.info {
  font-size: 15px;
  padding-left: 8px;
  padding-top: 4px;
}

.medal-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.medal {
  margin-right: 12px;
}