<table mat-table [dataSource]="athleteData" class="grey-background" multiTemplateDataRows>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="leaderboard-headers white-text">Name</th>
        <td mat-cell *matCellDef="let datum" class="leaderboard-values white-text"  
            (click)="(expandedAthleteData = expandedAthleteData === datum ? null : datum); $event.stopPropagation()">
            <div class="country-name">
                <div matTooltip="{{datum.country}}" matTooltipPosition="left" class="country">
                    <span class="fi fi-{{datum.iso}}"></span>
                </div>  
                <div class="ml-12">
                    {{datum.name}}
                </div>
                <mat-icon class="info material-icons-outlined" matTooltip="{{datum.discipline}}: {{datum.description}}" matTooltipPosition="right">
                  info
                </mat-icon> 
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="bronze">
        <th mat-header-cell *matHeaderCellDef class="leaderboard-headers white-text centered">Bronze</th>
        <td mat-cell *matCellDef="let datum" class="leaderboard-values white-text centered" 
            (click)="(expandedAthleteData = expandedAthleteData === datum ? null : datum); $event.stopPropagation()">{{datum.bronze}}</td>
    </ng-container>
    <ng-container matColumnDef="silver">
        <th mat-header-cell *matHeaderCellDef class="leaderboard-headers white-text centered">Silver</th>
        <td mat-cell *matCellDef="let datum" class="leaderboard-values white-text centered" 
            (click)="(expandedAthleteData = expandedAthleteData === datum ? null : datum); $event.stopPropagation()">{{datum.silver}}</td>
    </ng-container>
    <ng-container matColumnDef="gold">
        <th mat-header-cell *matHeaderCellDef class="leaderboard-headers white-text centered">Gold</th>
        <td mat-cell *matCellDef="let datum" class="leaderboard-values white-text centered" 
            (click)="(expandedAthleteData = expandedAthleteData === datum ? null : datum); $event.stopPropagation()">{{datum.gold}}</td>
    </ng-container>
    <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef class="leaderboard-headers white-text centered">Points</th>
        <td mat-cell *matCellDef="let datum" class="leaderboard-values white-text centered"  
            (click)="(expandedAthleteData = expandedAthleteData === datum ? null : datum); $event.stopPropagation()">{{datum.points}}</td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let athleteData" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="athleteData == expandedAthleteData ? 'expanded' : 'collapsed'">
            @for(medal of athleteData.medals; track medal) {
                <div class="medal-row">
                    <mat-icon class="material-symbols-outlined medal" [ngStyle]="{'color': parsePlaceColor(medal.place)}" matTooltip="{{parsePlace(medal.place)}}">
                        workspace_premium
                    </mat-icon>
                    <div class="white-text">
                        {{medal.event}}
                    </div>
                </div>
            }   
        </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>