<mat-expansion-panel class="user-panel" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="user-panel">
        {{user.username}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      @if(user.athletes.length < 1) {
        <p>No athletes drafted</p>
      }
      @else {
        @for (athlete of user.athletes; track athlete) {
          <div class="athlete-details-container">
            <div class="country-name">
              <div matTooltip="{{athlete.country}}" class="country">
                <span class="fi fi-{{athlete.iso}}"></span>
              </div>          
              <div>{{athlete.surname}}</div>
            </div>
            <mat-icon class="info material-icons-outlined" matTooltip="{{athlete.discipline}}: {{athlete.description}}">
              info
            </mat-icon> 
          </div>
        }
      }
    </ng-template>    
</mat-expansion-panel>