:host {
  display: block;
}

.spinner {
  max-width: 40px;
}

.athlete-card-disabled {
  background-color: #2e3134 !important;
  color: rgb(209, 205, 199) !important;
  opacity: 0.5;
}

.athlete-card {
  background-color:  #373d43 !important; 
  color: rgb(209, 205, 199) !important;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .athlete-card {
    min-width: 130px;
    min-height: 80px;
    font-size: small;
  }

  .athlete-card-disabled {
    min-width: 130px;
    min-height: 80px;
    font-size: small;
  }

  .forename {
    font-size: x-small;
  }
}

@media only screen and (min-width: 1200px) {
  .athlete-card {
    min-width: 200px;
    min-height: 200px;
    font-size: large
  }

  .athlete-card-disabled {
    min-width: 200px;
    min-height: 200px;
    font-size: large
  }

  .forename {
    font-size: medium;
  }
}

.country-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.country {
  padding-left: 12px;
}

.names {
  padding-right: 12px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}

.discipline {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info {
  margin-right: 12px;
}

.info-parent {
  display: flex;
  justify-content: space-between;
}

.athlete-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.discipline-image {
  max-width: 200px;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.athlete-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.country-name {
  display: flex;
  flex-direction: row;
}

.country {
  padding-right: 12px;
}

.info {
  font-size: 15px;
  padding-left: 12px;
}