<h1 id="tableLabel">Athlete Draft</h1>

<p *ngIf="!athletes?.length"><em>Loading...</em></p>

<div class="grid-container">
  <div class="grid-item">
    <div class="sort-buttons">
      <mat-button-toggle-group name="athleteSort" aria-label="Sort Athletes" (change)="sortAthletes($event.value)" value="country" vertical="true">
        <mat-button-toggle class="sort-button" value="country">Country</mat-button-toggle>
        <mat-button-toggle class="sort-button" value="discipline">Discipline</mat-button-toggle>
        <mat-button-toggle class="sort-button" value="name">Name</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="users-section">
      <div class="pb-12">Players</div>

      <mat-accordion>
        @for(user of users; track user) {
          <user-panel [user]="user" class="pb-12"></user-panel>
        }
      </mat-accordion>
    </div>
    
  </div>

  <div class="grid-item">
    <mat-grid-list cols="5" rowHeight="{{rowHeight}}" class="card-parent">
      <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
        <athlete-card [athlete]="athlete" [disabled]="athleteIsDrafted(athlete)" (emitDraft)="onDraftPickEmitted($event)"></athlete-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
