th, tr {
  color: rgb(209, 205, 199) !important;
}

.card-parent {
  height: 800px;
}

.sort-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.button {
  margin-left: 12px;
  margin-right: 12px;
}

.sort-button {
  background: #373d43;
  color: white;
  min-width: 220px;
}

.grid-container {
  display: grid;
  grid-template-columns: 220px auto;
}

.users-section {
  padding-top: 12px;
}