<h1 id="tableLabel">Test Athlete List</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!athletes?.length"><em>Loading...</em></p>

<mat-grid-list cols="5" rowHeight="{{rowHeight}}" class="card-parent">
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let athlete of athletes" class="card-container">
    <athlete-card [athlete]="athlete"></athlete-card>
  </mat-grid-tile>


</mat-grid-list>