:host {
  display: block;
}

.white-text {
  color: rgb(209, 205, 199) !important;
}

.grey-background {
  background-color:  #373d43 !important; 
}

.draft-headers {
  font-size: medium;
}

.draft-values {
  font-size: x-large;
}

.button-cell {
  text-align: right;
}

.loading-spinner {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}