:host {
  display: block;
}

.white-text {
  color: rgb(209, 205, 199) !important;
}

.draft-card {
  background-color:  #373d43 !important; 
  color: rgb(209, 205, 199) !important;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.draft-data {
  display: flex;
  flex-direction: column;
}

.draft-headers {
  font-size: small;
}

.draft-data {
  font-size: xx-large;
}