<h1 *ngIf="!!draft">{{ draft.name }}</h1>

<mat-spinner *ngIf="!draft" class="loading-spinner"></mat-spinner>

<div class="grid-container" *ngIf="!!draft">
  <div class="sidebar">
    @if (userIsAdmin() && !draftStarted) {
      <div>
        <button class="white-text button-affirmative" mat-raised-button (click)="startDraft()">Start Draft</button>
      </div>
    }

    <div class="sort-buttons">
      <mat-button-toggle-group name="athleteSort" aria-label="Sort Athletes" (change)="sortAthletes($event.value)" value="country" vertical="true">
        <mat-button-toggle class="sort-button" value="country">Country</mat-button-toggle>
        <mat-button-toggle class="sort-button" value="discipline">Discipline</mat-button-toggle>
        <mat-button-toggle class="sort-button" value="name">Name</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="users-section">
      <div class="pb-12">Players</div>

      <mat-accordion>
        @for(user of draft.users; track user) {
          <user-panel [user]="user" class="pb-12"></user-panel>
        }
      </mat-accordion>
    </div>
  </div>

  <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize="0">
    <mat-grid-list cols="5" rowHeight="{{rowHeight}}" class="card-parent">
      <mat-grid-tile *cdkVirtualFor="let athlete of draft?.athletes" class="card-container">
        <athlete-card [athlete]="athlete" [disabled]="athleteIsDrafted(athlete)" [draftStarted]="draftStarted" (emitDraft)="onDraftPickEmitted($event)"></athlete-card>
      </mat-grid-tile>
    </mat-grid-list>
  </cdk-virtual-scroll-viewport>
</div>