th, tr {
  color: rgb(209, 205, 199) !important;
}

.sort-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.button {
  margin-left: 12px;
  margin-right: 12px;
}

.sort-button {
  background: #373d43;
  color: white;
  min-width: 220px;
}

.grid-container {
  display: grid;
  grid-template-columns: 220px auto;
}

.users-section {
  padding-top: 12px;
}

.loading-spinner {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.virtual-scroll {
  height: 87vh;
}