<h1 *ngIf="!!draft">{{ draft.name }}</h1>

<mat-spinner *ngIf="!draft" class="loading-spinner"></mat-spinner>

<div class="grid-container" *ngIf="!!draft">
  <div class="sidebar">
    @if (userIsAdmin() && draftIsOpen()) {
      <div>
        <button class="white-text button-affirmative mb-12" mat-raised-button (click)="randomiseDraft()">Randomise Draft</button>
        <button *ngIf="enableStartDraftButton()" class="white-text button-affirmative" mat-raised-button (click)="startDraft()">Start Draft</button>
      </div>
    }

    <div class="sort-buttons">
      <mat-button-toggle-group name="athleteSort" aria-label="Sort Athletes" (change)="sortAthletes($event.value)" value="country" vertical="true">
        <mat-button-toggle class="sort-button" value="country">Country</mat-button-toggle>
        <mat-button-toggle class="sort-button" value="discipline">Discipline</mat-button-toggle>
        <mat-button-toggle class="sort-button" value="name">Name</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    @if(orderedUsers.length > 0) {
      <div class="picks-remaining">
        <div class="pb-12">Round</div>
        <div>{{currentRound}}/{{totalRounds}}</div>
        <div class="pb-12">Pick</div>
        <div>{{currentRoundPick + 1}}/{{orderedUsers.length}}</div>
      </div>
    }
    
    <div class="users-section">
      <div class="pb-12">Players</div>

      <mat-accordion>
        @if(draft.draftOrder.length > 0) {
          @for(userId of draft.draftOrder; track userId) {
            <user-panel [user]="getUser(userId)" [currentUserId]="currentTurnUser?.id" class="pb-12"></user-panel>
          }
        }
        @else {
          @for(user of draft.users; track user) {
            <user-panel [user]="user" [currentUserId]="currentTurnUser?.id" class="pb-12"></user-panel>
          }
        }
        
      </mat-accordion>
    </div>
  </div>

  <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize="0">
    <mat-grid-list cols="5" rowHeight="{{rowHeight}}" class="card-parent">
      <mat-grid-tile *cdkVirtualFor="let athlete of draft?.athletes" class="card-container">
        <athlete-card [athlete]="athlete" [draftedUserData]="getDraftedUserData(athlete.userId)" [disabled]="athleteIsDrafted(athlete)" [draftStarted]="draftIsInProgress()" (emitDraft)="onDraftPickEmitted($event)"></athlete-card>
      </mat-grid-tile>
    </mat-grid-list>
  </cdk-virtual-scroll-viewport>
</div>