<mat-card class="athlete-card">
    <div *ngIf="athlete == undefined">
        <div>Loading...</div>
        <mat-spinner class="spinner"></mat-spinner>
    </div>
    <div *ngIf="athlete != undefined" class="athlete-parent">
        <div class="country-name">
            <div>
                <span class="fi fi-{{athlete.country}}"></span>
            </div>
            <div>
                {{athlete.name}}
            </div>
        </div>
        <div class="discipline">
            {{athlete.discipline}}
            <!-- <img class="discipline-image" *ngIf="athlete.discipline=='Running'" src="assets/3x3BasketballTransparent.avif" matTooltip="{{athlete.discipline}}"> -->
            <!-- https://olympics.com/en/paris-2024/the-games/the-brand/pictograms -->
        </div>
        <div class="info-parent">
            <mat-icon class="info material-icons-outlined" matTooltip="{{athlete.description}}">
                info
            </mat-icon>
        </div>
    </div>
</mat-card>